
* {
    box-sizing: border-box;
    margin-right:0;
    margin-left:0;
}

@font-face {
    font-family: 'FuturaBT-Bold';
    src: url(font/futurabt-bold-webfont-7b438ff794699aec3c7f1cd906b8efd38c33af575634d737ba8dc409a0de38d7.woff2) format("woff2");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'FuturaBT-BoldItalic';
    src: url(font/futurabt-bolditalic-webfont-f3fafe1d2ffcb7f590030ed6b296aab3e6284f086845e0c30fb951ee802fe931.woff2) format("woff2");

    font-weight: normal;
    font-style: normal
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #FF632E;
    padding: 20px;
}

.grid-item-header {
    background-color: #FF632E;
    padding: 20px;
    font-size: 2rem;

    color: white;
    font-family: "FuturaBT-BoldItalic";
    text-align: left;
}

.grid-item {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;

    font-size: 1.5rem;
    color: #FF632E;
    font-family: "FuturaBT-Bold";
    text-align: left;
}

/* General styles */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}

header {
    align-items: center; 
    justify-content: center; 
    display: flex;

    font-family: "FuturaBT-BoldItalic";
}

h1 {
    font-size: 3rem;

    text-transform: uppercase
}

h2 {
    font-size: 2rem;
}

ul,
ol,
dl,
p {
    font-size: 1.5rem;
}

li,
p {
    line-height: 1.5;
}

/* Description list styles */

dd,
dt {
    line-height: 1.5;
}

dt {
    font-weight: bold;
}
